<div class="top-container blog-bold  blog-stream">

    <!-- post -->
    <article class="hentry has-post-thumbnail">

        <div class="post-thumbnail" style="background-image:url(assets/images//footballstatsdirect.png)">

            <!-- .entry-header -->
            <header class="entry-header">


                <!-- .entry-title -->
                <h2 class="entry-title"><a target="_blank" href="https://www.footballstatsdirect.com">footballstatsdirect.com</a></h2>

                <!-- .entry-meta -->
                <div class="entry-meta" style="font-size: 1em;">
                    <div class="entry-date">
                        <time class="entry-date">A fun side project I created using React. Real data football stats data is retrieved from an API and allows you to play with this data in AG Grid.</time>
                    </div>
                    <div class="comment-link">
                        <a target="_blank" href="https://www.footballstatsdirect.com">footballstatsdirect.com</a>
                    </div>
                </div>
                <!-- .entry-meta -->

            </header>
            <!-- .entry-header -->

        </div>

    </article>
    <!-- post -->

    <!-- post -->
    <article class="hentry has-post-thumbnail">

        <div class="post-thumbnail" style="background-image:url(assets/images//crawley_masjid.png)">

            <!-- .entry-header -->
            <header class="entry-header">

                <!-- .entry-title -->
                <h2 class="entry-title"><a target="_blank" href="http://www.crawleymasjid.co.uk">crawleymasjid.co.uk</a></h2>

                <!-- .entry-meta -->
                <div class="entry-meta" style="font-size: 1em;">
                    <div class="entry-date">
                        <time class="entry-date">A website I created for my local mosque for people to see upcoming
                            events,
                            daily prayer times, contact the mosque, make donations etc.</time>
                    </div>
                    <div class="comment-link">
                        <a target="_blank" href="http://www.crawleymasjid.co.uk">crawleymasid.co.uk</a>
                    </div>
                </div>
                <!-- .entry-meta -->

            </header>
            <!-- .entry-header -->

        </div>

    </article>
    <!-- post -->


    <!-- post -->
    <article class="hentry has-post-thumbnail">

        <div class="post-thumbnail" style="background-image:url(assets/images//crawleygamechangers.jpg)">

            <!-- .entry-header -->
            <header class="entry-header">


                <!-- .entry-title -->
                <h2 class="entry-title"><a target="_blank" href="http://www.crawleygamechangers.co.uk">crawleygamechangers.co.uk</a></h2>

                <!-- .entry-meta -->
                <div class="entry-meta" style="font-size: 1em;">
                    <div class="entry-date">
                        <time class="entry-date">A website created for a local children's football academy. This website
                            allows parents to see information on the academy as well as sign their kids up for
                            training.</time>
                    </div>
                    <div class="comment-link">
                        <a target="_blank" href="http://www.crawleygamechangers.co.uk">crawleygamechangers.co.uk</a>
                    </div>
                </div>
                <!-- .entry-meta -->

            </header>
            <!-- .entry-header -->

        </div>

    </article>
    <!-- post -->

    <!-- post -->
    <article class="hentry has-post-thumbnail">

        <div class="post-thumbnail" style="background-image:url(assets/images//viqscoresscreenshot.png)">

            <!-- .entry-header -->
            <header class="entry-header">


                <!-- .entry-title -->
                <h2 class="entry-title"><a target="_blank" href="https://viq-scores.co.uk">viq-scores.co.uk</a></h2>

                <!-- .entry-meta -->
                <div class="entry-meta" style="font-size: 1em;">
                    <div class="entry-date">
                        <time class="entry-date">An app I created using React Native to view football scores, lineups, events etc. for football matches across the world. </time>
                    </div>
                    <div class="comment-link">
                        <a target="_blank" href="https://viq-scores.co.uk">viq-scores.co.uk</a>
                    </div>
                </div>
                <!-- .entry-meta -->

            </header>
            <!-- .entry-header -->

        </div>

    </article>
    <!-- post -->


</div>