@media screen and (min-width: 992px) {
  .ph-item {
    height: 282px !important;
  }
}

@media screen and (max-width: 992px) {
  .ph-item {
    height: 124px !important;
    margin-bottom: 13px;
  }

  .ph-picture-item {
    .ph-picture {
      height: 100%;
    }

    height: 100%;
  }
}
